@font-face {
  font-family: "Proxima Nova";
  src: url('../fonts/Mark-Simonson-Proxima-Nova-Regular.otf') format("truetype");
}
@font-face {
  font-family: "Proxima Nova Light Italic";
  src: url('../fonts/Mark Simonson-Proxima-Nova-Light-Italic.otf') format("truetype");
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url('../fonts/Mark-Simonson-Proxima-Nova-Light.otf') format("truetype");
}
@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url('../fonts/Mark-Simonson-Proxima-Nova-Extrabold.otf') format("truetype");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url('../fonts/Mark-Simonson-Proxima-Nova-Bold-Italic.otf') format("truetype");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url('../fonts/Mark-Simonson-Proxima-Nova-Bold.otf') format("truetype");
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.otf') format("truetype");
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url('../fonts/Mark-Simonson-Proxima-Nova-Semibold-Italic.otf') format("truetype");
}