.modal-dialog{:role => "document"}
  .modal-content
    .modal-body
      %h1 View Question
      %p #{@category.name}
      .w3-content.w3-display-container
        - @poll_questions.each_with_index do |question,index|
          .mySlides.show-question
            .row
              .col-sm-4
                %div.profile-image{:type => "file"}
                  %img#question-show-image{:src => question.image.present? ? question.image.thumb :  asset_path("avatar.png")}
              .col-sm-8
                .field.form-group
                  %p #{question.question}
                .field.form-group
                  - if question.question_type == "Multi"
                    %ul.question-list.edit-question
                      - question.options.each_with_index do |opt,ind|
                        %li
                          %input.form-control{:name => "question[options][#{ind+1}]",:disabled => true, :type => "text",:id=> "question_options",value: opt.second}
                  - else
                    %ul.radio-list
                      %li
                        %label.radio-inline
                          %input{:name => "question[correct_option]",:disabled => true, :type => "radio", :value => "true"}>
                          TRUE
                      %li
                        %label.radio-inline
                          %input{:name => "question[correct_option]",:disabled => true, :type => "radio", :value => "false"}>
                          FALSE
        %span.right#question-number 1/#{@poll_questions.count}
        %button.w3-display-left.question-show-left#slide-left{:onclick => "plusDivs(-1)",:type=>"button",disabled: "true"} ❮
        %button.w3-display-right.question-show-right#slide-right{:onclick => "plusDivs(1)",:type=>"button"} ❯
:javascript
  plusDivs(0)
