.sign-in {
margin-top: 20%;
}
.container.col-md-6.float-none {
  float: none;
}
.main-background {
  background: image-url('background.jpg') center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  background-size: cover;
}
.modal-btn-area {
  margin: 20px 0 0;
}
.modal-content {
  padding-bottom: 30px;
}

.nav-area>li.active>a {
  color: black;
  background:#999999;
}

.field {
  display: flex;
}
input.hidden {
  position: absolute;
  left: -9999px;
}

#profile-image1 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border:2px solid #03b1ce ;
}
.tital{
  font-size:16px; font-weight:500;
}
.bot-border{
  border-bottom:1px #f8f8f8 solid;
  margin:5px 0  5px 0;
}
.edit-profile-btn {
  margin: 15px;
}
.truefalse {
  display: none;
}
.question-list.edit-question li {
  width: 47%;
}

.question-show {
  background: lightgray;
}

.text-view {
  margin-top: 15%;
}

.preview-block ul {
  margin-left: 15%;
}
.poll-page .delet-td.add-to-poll-checkbox {
  font-size: 12px;
}
.table-bordered.table-striped.question-table.polls-table > thead > tr > th,
.table-bordered.table-striped.question-table.polls-table > tbody > tr > th,
.table-bordered.table-striped.question-table.polls-table > thead > tr > td,
.table-bordered.table-striped.question-table.polls-table > tbody > tr > td {
  width: 11%;
}

.polls-selects {
  padding: 2% 3% 6%;
}
.mySlides {
  background: lightgray;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 4%;
}
.mySlides.show-question {
  width: 89%;
}
.w3-content {
  width: 92%;
  margin: 0 auto;
  position: relative;
}
.w3-display-left {
  position: absolute;
  top: 34%;
  left: 10%;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  border: none;
  line-height: 15px;
  text-align: center;
  color: #fff;
}
.w3-display-right{
  position: absolute;
  top: 34%;
  right: 10%;
  left: auto;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  border: none;
  line-height: 15px;
  text-align: center;
  color: #fff;
}
.w3-display-left.question-show-left {
  left: 0%;
}
.w3-display-right.question-show-right {
  right: 0%;
}
.poll-preview-buttons {
  text-align: center;
  margin-top: 3%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.margin-bottom {
  margin-bottom: 2%;
}
#question-show-image {
  width: 100%
}
