.sign-in {
margin-top: 20%;
}
.container.col-md-6.float-none {
  float: none;
}
.main-background {
  background: image-url('background.jpg') center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  background-size: cover;
}
.modal-btn-area {
  margin: 20px 0 0;
}
.modal-content {
  padding-bottom: 30px;
}

.nav-area>li.active>a {
  color: black;
  background:#999999;
}

.field {
  display: flex;
}

#truefalse {
  display: none;
}
