#header
  .header-holder
    .row
      .col-md-4.col-sm-4.col-xs-4.header-heading
        %h2 Logo
      .col-md-4.col-sm-4.col-xs-4.text-center
        - if current_admin.super_admin?
          %h2 Admin
        - else
          %h2 Writer
      .col-md-4.col-sm-4.col-xs-4.text-right.right-penal
        .icon-download
          = link_to destroy_admin_session_path,method: "delete", :data => {:confirm => 'Are you sure you want to log out?'} do
            %i.fa.fa-sign-out
